@{
    ViewData["Title"] = "James' Home Page";
}

<div class="text-center">
    <h1 class="display-4">James Loves Tami</h1>
    <ul>test data</ul>
    <li>Libby is a couch hog.</li>
     <li>2</li>
      <li>3</li>
      </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
